#faqs {
  margin-top: 700px;
  padding-bottom: 30px;
  border-bottom: 1px solid #dfdfdf;
  ul {
    margin-top: 50px;
    float: left;
    width: 50%;
    li
    {
      width: 400px;
      margin: 0 49px 30px 0;
      padding-left: 18px;
      background: url(image_path("bullet.png")) no-repeat left 8px;
      p {
        margin-top: 10px;
        line-height: 1.4;
        font-size: 18px;
      }
    }
  }
}

.buynow {
  margin-top:-50px;
}

#appStore {
  height: 71.818px;
  width: 273.991px;
  background: green;
  margin-top: 50px;
  img {
    max-height: 100%;
    max-width: 100%;
  }

}


#googlePlay {
    height: 71.818px;
  width: 273.991px;
  background: green;
  margin-top: 50px;
  img {
    max-height: 100%;
    max-width: 100%;
  }


}