#faqs {
  margin-top: 800px;
  padding-bottom: 30px;
  border-bottom: 1px solid #dfdfdf;
  padding: 100px;

  ul {
    margin-top: 50px;
    float: left;
    width: 50%;
    li
    {
      width: 400px;
      margin: 0 49px 30px 0;
      padding-left: 18px;
      background: url(image_path("bullet.png")) no-repeat left 8px;
      p {
        margin-top: 10px;
        line-height: 1.4;
        font-size: 18px;
      }
    }
  }
}

.buynow {
  margin-top:-50px;
}

#appLogo {
  margin: 0px 40%;
  margin-top: 100px;
  margin-bottom:172px;
  height: 100px;
  width: 100px;
  img {
    max-height: 100%;
    max-width: 100%;
  }
}

#appStore {
  margin: 20px 25%;
  height: 91.818px;
  width: 273.991px;
  img {
    max-width: 100%;
  }
}

#googlePlay {
  margin: 10px 25%;
  height: 71.818px;
  width: 273.991px;
  img {
    max-width: 100%;
  }
}

