#faqs {
  margin-top: 750px;
  padding-bottom: 30px;
  border-bottom: 1px solid #dfdfdf;
  h4 {
    margin: 30px 5%;
  }
  ul {
    margin: 10px 5%;
    float: left;
    width: 35%;
    li
    {
      width: 400px;
      margin: 0 49px 30px 0;
      padding-left: 18px;
      background: url(image_path("bullet.png")) no-repeat left 8px;
      p {
        line-height: 1.4;
        font-size: 18px;
      }
    }
  }
}

.buynow {
  margin-top:-50px;
}

#ios-logo {
  height: 75%;
  width: 100%;
  img {
    margin: 10% 0% 20% 35%;
    max-height: 50%;
    max-width: 50%;
  }
}
.android {
  display: block;
  color: $button_color; /* text color */
  text-shadow: 0 -1px 1px $button-text_shadow_color; /* drop shadow */
  -moz-box-shadow:
    0 1px 1px  $button_box_shadow_color /* drop shadow */,
    inset 0 -1px $button_box_shadow_inset_color /* inner shadow */;
  -webkit-box-shadow:
    0 1px 1px $button_box_shadow_color /* drop shadow */,
    inset 0 -1px 1px $button_box_shadow_inset_color /* inner shadow */;
  background-image: $android_top_gradient; /* gradient fill */
  background-image: -moz-linear-gradient(90deg, $android_top_gradient 0%, $android_bottom_gradient 100%); /* gradient fill */
  background-image: -o-linear-gradient(90deg, $android_top_gradient 0%, $android_bottom_gradient 100%); /* gradient fill */
  background-image: -webkit-linear-gradient(90deg, $android_top_gradient 0%, $android_bottom_gradient 100%); /* gradient fill */
  background-image: linear-gradient(90deg, $android_top_gradient 0%, $android_bottom_gradient 100%); /* gradient fill */
  -webkit-border-radius: $button_border_radius;
  -moz-border-radius: $button_border_radius;
  border-radius: $button_border_radius;
  font-family: $primary_font, $secondary_font, $tertiary_font;
}

.android:hover {
  -moz-box-shadow:
    0 1px 1px $button_box_shadow_color /* drop shadow */,
    inset 0 -1px 1px $button_box_shadow_inset_color /* inner shadow */;
  -webkit-box-shadow:
    0 1px 1px$button_box_shadow_color /* drop shadow */,
    inset 0 -1px 1px $button_box_shadow_inset_color /* inner shadow */;
  box-shadow:
    0 1px 1px $button_box_shadow_color /* drop shadow */,
    inset 0 -1px 1px $button_box_shadow_inset_color /* inner shadow */;
  background-image: $button_ie9_gradient_hover; /* gradient fill */
  background-image: -moz-linear-gradient(90deg, $android_top_gradient_hover 0%, $android_bottom_gradient_hover 100%); /* gradient fill */
  background-image: -o-linear-gradient(90deg, $android_top_gradient_hover 0%, $android_bottom_gradient_hover 100%); /* gradient fill */
  background-image: -webkit-linear-gradient(90deg, $android_top_gradient_hover 0%, $android_bottom_gradient_hover 100%); /* gradient fill */
  background-image: linear-gradient(90deg, $android_top_gradient_hover 0%, $android_bottom_gradient_hover 100%); /* gradient fill */
  text-decoration: none;  
}

.android:active {
  -moz-box-shadow:
    0 1px 1px $button_box_shadow_color /* drop shadow */,
    inset 0 3px 5px $button_box_shadow_inset_color /* inner shadow */;
  -webkit-box-shadow:
    0 1px 1px $button_box_shadow_color /* drop shadow */,
    inset 0 3px 5px $button_box_shadow_inset_color /* inner shadow */;
  box-shadow:
    0 1px 1px $button_box_shadow_color /* drop shadow */,
    inset 0 3px 5px $button_box_shadow_inset_color /* inner shadow */;
  background-image: $button_ie9_gradient_active /* gradient fill */;
  background-image: -moz-linear-gradient(90deg, $button_top_gradient_active 0%, $button_bottom_gradient_active 100%); /* gradient fill */
  background-image: -o-linear-gradient(90deg, $button_top_gradient_active 0%, $button_bottom_gradient_active 100%); /* gradient fill */
  background-image: -webkit-linear-gradient(90deg, $button_top_gradient_active 0%, $button_bottom_gradient_active 100%); /* gradient fill */
  background-image: linear-gradient(90deg, $button_top_gradient_active 0%, $button_bottom_gradient_active 100%); /* gradient fill */
}
