.big_wrapper {
  background: $body_background;
  border-bottom: 1px solid #d2d2d2;
  padding: 0px 0px;
}

.big_wrapper .wrapper {
  background: $body_background;
  width: 100%;
}

.point_copy {
  width: 440px;
  h3 {
    margin: 20px 0 30px 0;
  }
}

h3 {
  font-family: $primary_font, $secondary_font, $tertiary_font;
  font-weight: 300;
  font-size: 70px;
  color: $h3_color;
  margin-bottom: 30px;
  line-height: 1;
}

p {
  color: #737980;
}

.point_copy p, #other_points li p {
  line-height: 1.5;
}

/************************************ Simple  ************************************/
#one {
  padding: 100px;
  background: url(image_path("1-background.png")) no-repeat bottom left;
  height: 800px;
}

#iphone {
  float: left;
  display: inline;
  margin-top: 50px;
  img {
    max-height: 100%;
    max-width: 100%;
  }
  height: 500px;
  width: 300px;
}

#app {
  position: relative;
  height: 450px;
  width: 200px;
  left: 22px;
  top: -430px;
  img {
    max-width: 100%;
    max-height: 100%;
  }
  z-index: 1;
}


/************************************ Colorful  ************************************/
#two {
  background-color: gray;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 700px;

  h3 {
    color: white;
  }

  p {
    color: white;
  }
}

.background-image {

}

.lightbulb-1 {

  background: black;
  display: inline;
  margin: 0px auto;
  img {
    max-height: 0%;
    max-width: 10%;
  }
  max-height: 100px;
  max-width: 50px;
}

.color_wheel {
  margin-top: 50px;
  margin-right: 40%;
  float: right;
  width: 250px;
  height: 250px;
  img {
    max-width: 100%;
    max-height: 100%;
  }
}

/************************************ Efficient  ************************************/
#three {
  padding: 100px;
  background-image: url("banff.jpg");
  background-position: 0px 0px;
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-size: 160% 160%;
  height: 400px;

  p,h3 {
    border-radius: 10px;
    color: white;
    background: rgba(19, 147, 191, 0.8);
  }

  p {
    margin-bottom: 50px;
  }
  
  h3 {
    width: 300px;
    color: white;
    margin-bottom: 20px;
  }
}

#bottom-wrapper div {
  margin-top: 2px;
  width: 100px;
  height: 50px;
  display: block;
  border-radius: 10px;
  p {
    color: white;
    float: right;
    font-size: 40px;
    font-weight: 300;
  }
}

.para {


}

.title {
}

.names {
  color: white;
  margin-top:10px;
  display: block; 
}

.compare-1 {
  background: rgba(19, 147, 191, 0.8);
}


.animate-1 {
  -webkit-animation: increase-1 2s; /* Chrome, Safari, Opera */
  animation: increase-1 2s;
  width: 880px;
}

@-webkit-keyframes increase-1 {
  from {
    width: 400px;
  }
  to {
    width: 880px;
  }
}

/* Standard syntax */
@keyframes increase-1 {
  from {
    width: 400px;
  }
  to {
    width: 980px;
  }
}

/************************************ Music  ************************************/
#four {
  padding: 100px;
  background: url(image_path("3-background.png")) no-repeat bottom left;
  height: 700px;
}


/************************************ Buy Now ************************************/
.left {
  background: $body_background;
  float: left;
}

.right {
  float: right;
}

