.big_wrapper {
  background: $body_background;
  border-bottom: 1px solid #d2d2d2;
}

.big_wrapper .wrapper {
  background: $body_background;
  width: 100%;
}

.point_copy {
  width: 440px;
  h3 {
    margin: 20px 0 30px 0;
  }
}

h3 {
  font-family: $primary_font, $secondary_font, $tertiary_font;
  font-weight: 300;
  font-size: 70px;
  color: $h3_color;
  margin-bottom: 30px;
  line-height: 1;
}

p {
  color: #737980;
}

.point_copy p, #other_points li p {
  line-height: 1.5;
}

/************************************ Main  ************************************/
.main {
  margin: 10% auto;
}

#video 
{
  float: left;
  width: 512px;
  height: 400px;

  -moz-box-shadow: 0 2px 6px rgba(0,0,0,.39); /* drop shadow */
  -webkit-box-shadow: 0 2px 6px rgba(0,0,0,.39); /* drop shadow */
  box-shadow: 0 2px 6px rgba(0,0,0,.39); /* drop shadow */
  img {
    width: 100%;
    height: 100%;
  }
}


/************************************ Simple  ************************************/
#one {
  width: 100%;
  background-image: url("1-background.png");
  background-position: 0px 0px;
  background-repeat: no-repeat;
  background-size: 160% 160%;
  height: 900px;
  -moz-box-shadow:    0px 1px 30px 0px #acacac;
  -webkit-box-shadow: 0px 1px 30px 0px #acacac;
  box-shadow:         0px 1px 30px 0px #acacac;

  #thirty-left {
    padding-left: 10%;
    padding-top: 2%;
    p {
      width:90%;
    }
    margin: 0;
    float: left;
    width: 30%;
    height: 100%;
  }

  #sixty-right {
    padding-top: 5%;
    float: right;
    width: 60%;
    height: 100%;
    img {
      display: block;
      width: 100%;
    }
    #lamp {
      margin-right: 10%;
      width: 65%;
      float: right;
    }
    #lightbulb {
      margin-top: 500px;
      width: 20%;
      float: left;
    }
  }
}

#iphone1 {
  float: left;
  display: inline;
  margin-top: 50px;
  img {
    max-height: 100%;
    max-width: 100%;
  }
  height: 70%;
  width: 70%;
}

#app {
  position: relative;
  height: 69.4%;
  width: 70%;
  left: 22px;
  top: -430px;
  img {
    max-width: 100%;
    max-height: 100%;
  }
  z-index: 1;
}

.move {
  -webkit-animation: move 2s; 
  animation: move 2s;
}

/************************************ Colorful  ************************************/
#two {
  background-image: url("3-background.png");
  background-position: 0px 0px;
  background-repeat: no-repeat;
  background-size: 160% 160%;
  height: 800px;
  -moz-box-shadow:    0px 1px 30px 0px #acacac;
  -webkit-box-shadow: 0px 1px 30px 0px #acacac;
  box-shadow:         0px 1px 30px 0px #acacac;
  
  #fifty-left {
    padding-left: 10%;
    float: left;
    width: 50%;
    height: 100%;

    #video {
      max-height: 60%;
      display: center;
      display: inline;
      margin: 25% 0%;
    }
  }

  #forty-right {
    float: right;
    margin: 0;
    width: 40%;
    height: 100%;

    #iphone2 {
      float: left;
      display: inline;
      margin-top: 50px;
      height: 55%;
      width: 55%;
      img {
        max-height: 100%;
        max-width: 100%;
      }
    }
    .color-wheel {
      position: relative;
      left: 22px;
      top: -375px;
    }
  }
}


/************************************ Efficient  ************************************/
#three {
  background-image: url("banff.png");
  background-position: 0px 0px;
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-size: 100% 100%;
  height: 400px;
  background-color: black;

  .eighty-left {
    padding-left: 10%;
    padding-top: 2%;
  }

  p,h3 {
    border-radius: 10px;
    color: white;
    background: rgba(19, 147, 191, 0.8);
  }

  p {
    margin-bottom: 50px;
  }

  h3 {
    width: 300px;
    color: white;
    margin-bottom: 20px;
  }
}

.names {
  color: white;
  margin-top:10px;
  display: block; 
}

.status-bar {
  margin-top: 2px;
  width: 100px;
  height: 50px;
  display: block;
  border-radius: 10px;
  h6 {
    color: white;
    float: right;
    font-size: 40px;
    font-weight: 300;
  }
  background: rgba(19, 147, 191, 0.8);
}

.animate {
  -webkit-animation: increase 2s; /* Chrome, Safari, Opera */
  animation: increase 2s;
  width: 700px;
}

@-webkit-keyframes increase{
  from {
    width: 100px;
  }
  to {
    width: 700px;
  }
}

/* Standard syntax */
@keyframes increase {
  from {
    width: 100px;
  }
  to {
    width: 700px;
  }
}

/************************************ Music  ************************************/
#four {
  background-image: url("3-background.png");
  background-position: 0px 0px;
  background-repeat: no-repeat;
  background-size: 160% 160%;
  height: 700px;
  -moz-box-shadow:    0px 1px 30px 0px #acacac;
  -webkit-box-shadow: 0px 1px 30px 0px #acacac;
  box-shadow:         0px 1px 30px 0px #acacac;

  #forty-left {
    padding-left: 10%;
    padding-top: 2%;
    width: 40%;
    height: 100%;
    #iphone3 {
      float: left;
      display: inline;
      margin-top: 50px;
      height: 50%;
      width: 50%;
      img {
        max-height: 100%;
        max-width: 100%;
      }
    }
  }
  #forty-right {
    float: right;
    width: 40%;
    height: 100%;
    #iphone3 {
      float: left;
      display: inline;
      margin-top: 50px;
      height: 50%;
      width: 50%;
      img {
        max-height: 100%;
        max-width: 100%;
      }
    }
  }
}


/************************************ Buy Now ************************************/
.left {
  background: $body_background;
  float: left;
}

.right {
  margin-right: 15%;
  float: right;
}

@-webkit-keyframes move{
  from  {
    width: 100;
  }
  to {
    width: 400;
  }
}
