#other_points 
{
  background-image: url("BlurryHouse.jpg");
  background-position: 0px 0px;
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-size: 100% 100%;
  width: 90%;
  padding-left: 10%;
  padding-top: 2%;

  li 
  {
    display: inline-block;
    background:black;
    width: 45%;
    height: 20%;
    padding-top: 5px;
  }

  #section-1 {
    img {
      margin: 15px auto;
      display: block;
      height: 70px;
      width: 70px;
    }
  }

  #section-2 {
    img {
      margin: 15px auto;
      display: block;
      height: 70px;
      width: 70px;
    }
  }

  #section-3 {
    img {
      margin: 15px auto;
      display: block;
      height: 70px;
      width: 70px;
    }
  }

  #section-4 {
    img {
      margin: 15px auto;
      display: block;
      height: 70px;
      width: 70px;
    }
  }

  h4 {
    color: white;
    text-align: center;
    margin: 0 0 20px 0;
  }

  p {
    margin: 0 0;
    color: white;
    font-size: 18px;
  }
}