<div class="big_wrapper">
  <div class="wrapper" id="one">
    <div class="point_copy">
      <h3> Simple </h3>
      <p> On and Off, one click <p>
      <p> No extra Installation, just plug in <p>
    </div>
    <div id="iphone">
      <img src="assets/iphone.png">
    </div>
    <div id="app">
       <img src="assets/app1.png">
  </div>
</div>

<div class="big_wrapper">
  <div class="wrapper" id="two">
    <div id="video"> <img src="assets/colorful-background.jpg"></div>
    <div class="point_copy right">
      <h3> Colorful </h3>
      <p> Be creative with 16 million colors <p>
      <div id="iphone">
        <img src="assets/iphone.png">
      </div>
      <div id="app">
        <img src="assets/app2.png">
        <img class="color-wheel" src="assets/color-wheel.png">
      </div> 
      <div >
    </div>
  </div>
</div>


<div class="big_wrapper">
  <div class="wrapper" id="three">
    <div class="point_copy">
      <h3> Efficient </h3>
      <p> 
        BlueBulb will save 95% percent of household energy Bill on Lighting 
        Comapred to other energy efficient bulb
      <p>
    </div>
    <div class="status-bar"><p>95%</p></div>
  </div>
</div>

<div class="big_wrapper">
  <div class="wrapper" id="four">
    <div class="point_copy">
      <h3> Music </h3> 
      <p> Listen to your light <p>
      <div id="iphone">
        <img src="assets/iphone.png">
      </div>
      <div id="app">
        <img src="assets/app4.png">
      </div> 
    </div>
  </div>
</div>
