<div class="big_wrapper">
  <div class="wrapper" id="one">
    <div id = "thirty-left">
      <div class="point_copy ">
        <h3> Simple </h3>
        <p> On and Off, One click <p>
        <p> No Hub, No Installation, Just plug in <p>
      </div>
      <div id="iphone1">
        <img src="assets/iphone1.png">
      </div>
    </div>
    <div id="sixty-right">
      <div id="lamp">  
        <img src="assets/lamp.png">
      </div>
      <div id="lightbulb">  
        <img src="assets/lightbulb.png">
      </div>
    </div>
</div>

<div class="big_wrapper">
  <div class="wrapper" id="two">
    <div id="fifty-left">
      <div id="video"> <img src="assets/colorful-background.jpg"></div>
    </div>
    <div id="forty-right">
      <div class="point_copy right">
        <h3> Colorful </h3>
        <p> Be creative with 16 million colors <p>
        <div id="iphone2">
          <img src="assets/iphone2.png">
          <img class="color-wheel" src="assets/color-wheel.png">
        </div> 
      </div>
    </div>
  </div>
</div>

<div class="big_wrapper">
  <div class="wrapper" id="three">
    <div class="point_copy">
      <h3> Efficient </h3>
      <p> 
        BlueBulb will save 95% percent of household energy Bill on Lighting 
        Comapred to other energy efficient bulb
      <p>
    </div>
    <div class="status-bar"><p>95%</p></div>
  </div>
</div>

<div class="big_wrapper">
  <div class="wrapper" id="four">
    <div class="point_copy">
      <h3> Music </h3> 
      <p> Listen to your light <p>
      <div id="iphone">
        <img src="assets/iphone.png">
      </div>
      <div id="app">
        <img src="assets/app4.png">
      </div> 
    </div>
  </div>
</div>
