<div class="big_wrapper">
  <div class="wrapper" id="one">
    <div id = "thirty-left">
      <div class="point_copy ">
        <h3> Simple </h3>
        <p> On and Off, One click <p>
        <p> No Hub, No Installation, Just plug in <p>
      </div>
      <div id="iphone1">
        <img src="assets/iphone1.png">
      </div>
    </div>
    <div id="sixty-right">
      <div id="lamp">  
        <img src="assets/lamp.png">
      </div>
      <div id="lightbulb">  
        <img src="assets/lightbulb.png">
      </div>
    </div>
</div>

<div class="big_wrapper">
  <div class="wrapper" id="two">
    <div id="fifty-left">
      <div id="video"> <img src="assets/colorful-background.png"></div>
    </div>
    <div id="forty-right">
      <div class="point_copy right">
        <h3> Colorful </h3>
        <p> Be creative with 16 million colors <p>
        <p> Change base on your Mood <p>
        <div id="iphone2">
          <img src="assets/iphone2.png">
          <img class="color-wheel" src="assets/color-wheel.png">
        </div> 
      </div>
    </div>
  </div>
</div>

<div class="big_wrapper">
  <div class="wrapper" id="three">
    <div class="point_copy eighty-left">
      <h3> Efficient </h3>
      <p> 
        Banana Bulb will save 95% percent of household Lighting Bill        Comapred to Incadescent Lightbulb
      <p>
      <div class="status-bar"><h6>95%</h6></div>
    </div>
  </div>
</div>

<div class="big_wrapper">
  <div class="wrapper" id="four">
    <div id="forty-left">
      <div class="point_copy">
        <h3> Music </h3> 
        <p> Listen to your light <p>
        <div id="iphone3">
          <img src="assets/iphone3.png">
        </div>
      </div>
    </div>
    <div id="forty-left">
    </div>
  </div>
</div>

