<div class="buynow" id= "C5">
	<div class="split-half left">
		<div id="lightbulb-center"> <img src="assets/nextBulb1.png"> </div>
    	<h5><%= Settings.ships1 %></h5>
    	<h5> Amazon Prime 2 day shipping </h5>
  		<a href="http://www.amazon.ca/gp/product/B00MU45SNI" class="blue_button reserve center"><%= Settings.middle_buy_text %></a>
   	</div>
   	<div class="split-half right">
   		<div id="appLogo"> 
			<img src="assets/appLogo.png">
		</div>
    	<h5> Download the App </h5>
    	<h5> ios and Android Compatible </h5>
   		<div id="appStore"> 
   			<a href="https://itunes.apple.com/us/app/magic-led-light-v2/id824102506?mt=8"><img src="assets/appStore.png"> </a>
   		</div>
		<div id="googlePlay"> 
			<a href="https://play.google.com/store/apps/details?id=com.Zengge.LEDBluetoothV2&hl=en"><img src="assets/googlePlay.png"></a> 
		</div>
	</div>
</div>
