<div class="buynow">
	<div class="split-half left">
		<div id="lightbulb-center"> <img src="assets/nextBulb1.png"> </div>
		<h5>bulbBulb - 1st generation </h5>
    	<h5><%= Settings.ships1 %></h5>
  		<a href="http://www.amazon.com/Bluetooth-Wireless-Control-Multicolor-Light/dp/B00GZQBQHE/ref=sr_1_1?ie=UTF8&qid=1407885918&sr=8-1&keywords=bluetooth+lightbulb" class="blue_button reserve center"><%= Settings.middle_buy_text %></a>
   	</div>
   	<div class="split-half right">
   		<div id="appStore"> 
   		<a href="https://itunes.apple.com/us/app/magic-led-light-v2/id824102506?mt=8"><img src="assets/appStore.png"> </a>
   		</div>
		<div id="googlePlay"> 
			<a href="https://play.google.com/store/apps/details?id=com.Zengge.LEDBluetoothV2&hl=en"><img src="assets/googlePlay.png"></a> 
		</div>
	</div>
</div>
