<ul class="clearfix" id="other_points">

    <li id="section-1">
      <img src="assets/Bluetooth@2x.png">
      <h4> Bluetooth 4.0 </h4>
      <p> BlueBulb uses bluetooth low energy, which It means it barely consumers energy at all for the communcication </p>
    </li>

    <li id="section-2">
      <img src="assets/Clock@2x.png">
      <h4> Wake Mode </h4>
      <p> Set a timer along with your alarm in the morning, BlueBulb will turns iself on when you wakeup </p>
    </li>

    <li id="section-3">
      <img src="assets/DoNotDisturb@2x.png">
      <h4> Sleep Mode </h4>
      <p> Don't wanna turn off your lights after you sleep? </p>
      <p> It's fine BlueBulb will turn off itself</p>
    </li>

    <li id="section-4">
      <img src="assets/alarm-icon.png">
      <h4> Safe </h4>
      <p> Set a timer along with your alarm in the morning, BlueBulb will turns iself on when you wakeup </p>
    </li>
</ul>
