
<div class="">
  <ul class="center-wrapper clearfix" id="other_points">

    <li id="section-1">
      <img src="assets/homekit-icon.png">
      <h4> Sleep tight </h4>
      <p> Just Go to sleep and leave the Lights on</p>
    </li>

    <li id="section-2">
      <img src="assets/music-icon.png">
      <h4> Wake up </h4>
      <p> T </p>
    </li>

    <li id="section-3">
      <img src="assets/timer-icon.png">
      <h4> Party </h4>
      <p> Who needs a disco ball </p>
    </li>

    <li id="section-4">
      <img src="assets/alarm-icon.png">
      <h4> Safe </h4>
      <p> Safety first, LED lights don't get as hot </p>
    </li>

  </ul>
</div>
