<div class="buynow" id= "C5">
	<div class="split-half left">
		<div id="lightbulb-center"> <img src="assets/nextBulb1.png"> </div>
    <h5><%= Settings.ships1 %></h5>
  	<a href="http://www.amazon.ca/gp/product/B00MU45SNI" class="blue_button reserve center"><%= Settings.middle_buy_text %></a>
  </div>
  <div class="split-half right">
    <div id="ios-logo"> <img src="assets/appLogo.png"> </div>
    <h5> Download the App </h5>
    <a href="https://itunes.apple.com/us/app/magic-led-light-v2/id824102506?mt=8" class="android reserve center">
      <h6>App Store</h6>
    </a>
    <a href="https://play.google.com/store/apps/details?id=com.Zengge.LEDBluetoothV2&hl=en" class="android reserve center">Google Play</a> 
   </div>
</div>
