/* iPhone Portrait Width(5,5c,5s): 568px */
@media screen and (max-device-width: 568px) 
{	
	/* Header */
	#header {
		height: 50%;
		opacity: 0.5;
	}
}

/* iPhone Portrait Width(4s): 480px */
@media screen and (max-device-width: 480px)
{
	/* Header */
	#header {
		height: 50%;
		opacity: 0.5;
	}
}

/* iPhone Portrait Width(4s, 5, 5c, 5s): 320px */
@media screen and (max-device-width: 320px) 
{
	/* Font resize */
	h2{
		font-size: 200%;
	}
	h4, h5{
		font-size: 200%;
	}
	p {
		font-size: 150%;
	}
	.reserve {
		width: 350px;
		height: 60px;
		font-size: 250%;
	}

	/* Resize the width to get rid of the spacing on the right side*/
	#one,#two,#three,#four,#faqs,#logos,.footer,.gray_background,{
		width: 105%;
	}

	#other_points {
		width: 95%;
	}

	/* Header */
	#header {
		height: 10%;
		opacity: 0.8;
		.top-left {
			height: 100%;
			margin: 0% 10%;
		}
		img {
			margin: 0% 0%;
    		display: block;
    		width: 20%;
    		height: 20%;
		}
		h1 {
			font-size: 400%;
			margin: 5% 0%;
		}
	}
	/* Top */
	.gray_background {
		height: 1080px;
		margin-top: 10%;
	}

	#backing {
		margin-left: 5%;
		width: 80%;
		#reserve_container {
			float: center;
			.reserve {
				font-size: 300%;
				width: 500px;
				height: 80px;
			}
			p {
				font-size: 100%;
			}
		}
	}

	#video {
		padding: 0% 5%;
		width: 90%;
		height: 60%;
		float: center;
		img {
			width: 100%;
		}
	}

	/* Simple */
	/* Colorful */
	#two {
		#fifty-left {
			img {
				content: url('colorful-background-iphone.png');
				max-width: 70%;
				max-height: 80%;
			}
			#video {
				max-width: 70%;
				max-height: 80%;
			}
		}
		#forty-right {
			#iphone2 {
				float: right;
				display: inline;
				margin-top: 50px;
				height: 40%;
				width: 40%;
				img {
					max-height: 100%;
					max-width: 100%;
				}
			}
			.color-wheel {
				width: 80%;
				height: 80%;
     			left: 20px;
     			top: -255px;
    		}
		}
	}
	/* Efficient */
	#three {
		background-image: url("banff-mobile.png");
  		height: 500px;
  		background-attachment:scroll; 
	}

	#faqs {
		width: 94%;
	}

	.buynow {
		height: 600px;
	}
}
