@media screen and (max-device-width: 660px) {

	#header {
		height: 10%;
		img {
		}
	}

	.gray_background {
		background: black;
	}

	#video {
		background:white;
		float: center;
	}

	html, body {
		background: black;
	}

}

@media screen and (min-width: 480px) {

}


@media screen and (min-width: 660px) {

}

