@media screen and (max-device-width: 660px) {
	h1,h2,h3,h4 {
		font-size: 500%;
	}

	#header {
		height: 10%;
		.top-left {
			height: 100%;
			float: center;
			display: center;
			margin: 0% 10%;
		}
		img {
			margin: 0% 0%;
    		display: block;
    		width: 20%;
    		height: 20%;
		}
		h1 {
			font-size: 300%;
			margin: 5% 0%;
		}
	}

	.gray_background {
		margin-top: 10%;
		background: black;
	}

	#video {
		background:white;
		float: center;
	}

	html, body {
		background: black;
	}

}

@media screen and (min-width: 480px) {

}


@media screen and (min-width: 660px) {

}

