<div id="header">
	<div class="top-left">
		<div id = "logo"> <%= link_to image_tag("logo.png", alt: "Banana Bulb"), '' %></div>
		<a href="/"> <h1> BlueBulb </h1> </a>
	</div>
  <nav>
  </nav>
</div>