<div id="header">
	<div class="wrapper clearfix">
		<div id = "logo"> <%= link_to image_tag("logo1.png", alt: "blueBulb"), '' %></div>
		<a href="/"> <h1>blueBulb </h1> </a>
	</div>
  <nav>
  </nav>
</div>